@import url('https://fonts.googleapis.com/css2?family=Lekton:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300&family=Lekton:wght@700&display=swap');

:root {
    background-image: linear-gradient(#FF0000, #000000);
    height: 100vh;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Lekton', sans-serif;
}

a {
    text-decoration: none;
}

.mensagem-inicial {
    display: flex;
    align-items: center;
    justify-content: center;
    color: #FFFFFF;
    font-size: 20px;
}

.botao-menu {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px;
}

.link-botao {
    text-decoration: none;
}

select {
    width: 70%;
    height: 50px;
    border-radius: 5px;
    box-shadow: 5px 5px 5px rgb(12, 12, 12);
    color: #6F4848;
    font-weight: 600;
    font-size: 16px;
}

.categorias {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.mensagem-categoria {
    max-width: 323px;
    text-align: center;
    line-height: 30px;
    font-size: 30px;
}

.botao-sortear {
    padding-top: 10px;
    background-image: linear-gradient(#FF0000, #000000);
}

.botao-sortear-container {
    padding-top: 20px;
}

.botao-sortear-novamente {
    padding-top: 10px;
    background-image: linear-gradient(#FF0000, #000000);
}

.sortear-novamente-container {
    padding-top: 20px;
}

.filme-sorteado {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    color: #FFFFFF;
    font-size: 20px;
}

.titulo-filme {
    text-align: center;
    font-size: 30px;
    max-width: 90vh;
}

.imagem-sorteada {
    width: 50%;
    height: 50%;
}

.imagem-sorteada-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.sinopse {
    max-width: 80vh;
    text-align: center;
    font-family: 'Inter', sans-serif;
}

.sinopse-container {
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 10px;
}

img.plataformas-stream {
    border-radius: 50%;
}

.imagem-categoria {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    color: #FFFFFF;
    text-transform: uppercase;
    font-size: 20px;
}

.imagem-cinema {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    color: #FFFFFF;
    text-transform: uppercase;
    font-size: 20px;
    top: 50%;
    animation: moveUpDown 4s ease-in-out infinite;
}

@keyframes moveUpDown {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-5%);
  }
  100% {
    transform: translateY(0);
  }
}